<footer class="row bg-dark p-5 text-white">
        <div class="col-12">
          <h2>Modos de recaudación de la web</h2>
          <p>
            En esta página web no se piden datos para registrarse.
          </p>
          <p>
            No existen bases de datos que recojan información de los usuarios.
          
          </p>
          <p>
            Y su utilización es completamente gratuita, aunque aceptamos
            donativos que se realizaran utilizando la tecnología blockchain.
          </p>
          <p>
            0x53E75a16DE9A5d843170E09bb67490dD9DDc3093 en la red binance smart chain (BSC).
          </p>
          <p>
            Las donaciones y remuneraciones por publicidad o actividades son para el mantenimiento y escalado de los recursos, que mejoraran la experiencia
            de uso.
          </p>
          <!-- <p>Se puede agregar publicidad en esta plataforma solicitandola en el correo admin@informacionpublicasincensura.net</p> -->
          <p>Siguenos tambien en twiter, discord y telegram</p>
          <br><br>
        </div>
       
        <div class="col text-center pt-5">
          <a href="/Telegram">
            <img
              src="./assets/Imagenes/Telegram.svg"
              width="80"
              class="img-fluid"
              alt="..."
            />
          </a>
          <a href="/discord">
            <img
              src="./assets/Imagenes/discord.svg"
              width="40"
              class="img-fluid"
              alt="..."
            />
          </a>
          <a href="/twitter">
            <img
              src="./assets/Imagenes/twitter.svg"
              width="80"
              class="img-fluid"
              alt="..."
            />
          </a>
        </div>
      </footer>