<div class="row m-3 p-3">
    <div class="col border border-primary rounded p-3">
        <nav class="nav">
            <a class="nav-link active" aria-current="page" href="https://127.0.0.1:3000">Inicio</a>
            <a class="nav-link" href="https://127.0.0.1:3000/publicar">Publicar</a>
            <a class="nav-link" href="https://127.0.0.1:3000/biblioteca">Biblioteca</a>
            <a class="nav-link" href="https://127.0.0.1:3000/chat">Chat</a>
            <a class="nav-link" href="https://127.0.0.1:3000/sugerencias">Sugerencias</a>
            <a class="nav-link" href="https://127.0.0.1:3000/novedades">Novedades</a>
        </nav>
    </div>
</div>