{{> plantillainicio }}
{{> navegador }}

<div class="containter bg-dark">
    <div class="row">
        <div class="col">
            <h1 class="alert alert-info m-5" ><a class="sinsubrayado text-success" href="http://127.0.0.1:3000/loteria">Lotería de criptomonedas</a></h1>
        </div>
    </div>
</div>


{{> plantillafin }}